@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: rgb(21, 21, 21);
  --titles: rgb(255, 255, 255);
  --menu: rgba(25, 27, 31, 1);
  --menu2: rgba(25, 27, 31, 0.8);
  --accent: rgb(153,92,208);
  --button-text: rgba(255, 255, 255, 0.7);
  --button-text-hover: var(--accent);
  --button-text-active: rgb(255, 255, 255);
  --button-text-selected: rgb(142,223,95);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body,
html,
#__next {
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}

body {
  background-color: var(--background);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DotCanvas {
  position: fixed;
  top: -15px;
  left: -15px;
  z-index: -1;
}

.transitions {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

#main-body {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  pointer-events: none;
}

#titles {
  white-space: nowrap;
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  text-align: left;
  flex-shrink: 1;
  font-weight: 700;
  color: var(--titles);
}

.titles-h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.titles-h1-active {
  opacity: 1;
}

.titles-h1-inactive {
  transition-delay: 500ms;
}

.titles-h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.titles-h2-active {
  opacity: 1;
}

#body-body {
  display: flex;
  position: relative;
  flex-basis: 100%;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 100%;
}

#panel {
  display: flex;
  margin-bottom: 6rem;
  border-radius: 0.5rem;
  width: 100%;
  background-color: var(--menu);
}

.panel-active {
  flex-grow: 1;
  pointer-events: auto;
  border-right: 1px outset var(--accent);
  border-bottom: 1px solid var(--accent);
  opacity: 0.9;
  transition:
    all 500ms 200ms;
}

.panel-inactive {
  flex-grow: 0;
  border-right: 0 outset transparent;
  border-bottom: 0 solid transparent;
  transition:
    all 500ms 500ms;
}

#buttons-bar {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 1rem;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 6rem;
  transition-duration: 1000ms;
}

.button {
  pointer-events: auto;
  border-radius: 0.5rem;
  font-weight: 700;
  background-color: var(--menu2);
  color: var(--button-text);
  border-right: 1px outset var(--accent);
  border-bottom: 1px solid var(--accent);
}

.button:hover {
  color: var(--button-text-hover);
  background-color: var(--menu);
}

.button-side {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  flex-basis: 25%;
  height: 2.5rem;
}

.button-main {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  flex-basis: 50%;
  height: 4rem;
}

.button-active {
  height: 5rem;
  color: var(--button-text-active);
}

.button-inactive {
  transition:
    all 500ms,
    height 500ms 1000ms;
}

.button-selected-panel {
  color: var(--button-text-selected);
  background-color: var(--menu);
}

.button-selected-panel:hover {
  color: var(--button-text-hover);
}

#panel-content-holder {
  display: flex;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.panel-content-holder-active {
  visibility: visible;
  opacity: 1;
}

.panel-content-holder-inactive {
  visibility: hidden;
  opacity: 0;
}

.panel-content {
  position: absolute;
  inset: 1rem 1.5rem 6.5rem 1.5rem;
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex-direction: row;
}

.panel-content::-webkit-scrollbar {
  display: none;
}

.panel-content-active {
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0ms 0ms,
    opacity 500ms 700ms;
}

.panel-content-inactive {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 500ms 0ms,
    opacity 500ms 0ms;
}

.content-text {
  flex-grow: 1;
  flex-basis: 80%;
  padding-right: 1rem;
}

.content-image {
  background-image: url("/concept-collage-html-css.jpg");
  height: 100%;
  flex-basis: 20%;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  #main-body {
    width: 60%;
    height: 66.666667%;
  }

  #titles {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
  }

  .titles-h1 {
    font-size: 6rem;
    line-height: 1;
  }

  .titles-h1-active {
    font-size: 3rem;
    opacity: 0.2;
  }

  .titles-h2 {
    font-size: 1.5rem;
    line-height: 1;
  }

  .titles-h2-active {
    font-size: 0.75rem;
    opacity: 0;
  }

  .titles-h2-inactive {
    transition-delay: 1000ms;
  }

  #panel {
    margin-bottom: 6rem;
  }

  #buttons-bar {
    position: absolute;
    bottom: 0;
  }

  #panel-content-holder {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 6rem;
    padding-bottom: 8rem;
  }

  .panel-content {
    inset: 7rem 1.5rem 8rem 3rem;
  }
}

@media (max-height: 900px) and (min-width: 768px) {
  #main-body {
    width: 80%;
    height: 90%;
  }
}